@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn {
  font-weight: 400;
  background-color: hsl(0deg, 0%, 95%);
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 0.8em 1.5em;
  border-radius: 3rem;
  outline: none;
  border: none;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 95%);
}

.container {
  display: grid;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: "sedans" "suvs" "luxury";
}
.container .card:nth-child(1) {
  grid-area: sedans;
  background-color: hsl(31deg, 77%, 52%);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.container .card:nth-child(1) .btn {
  color: hsl(31deg, 77%, 52%);
}
.container .card:nth-child(2) {
  grid-area: suvs;
  background-color: hsl(184deg, 100%, 22%);
}
.container .card:nth-child(2) .btn {
  color: hsl(184deg, 100%, 22%);
}
.container .card:nth-child(3) {
  grid-area: luxury;
  background-color: hsl(179deg, 100%, 13%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.container .card:nth-child(3) .btn {
  color: hsl(179deg, 100%, 13%);
}
.container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 3em;
  font-family: "Lexend Deca", sans-serif;
  height: auto;
}
.container .card img {
  width: 50px;
  height: 30px;
}
.container .card .card__heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.6rem;
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
}
.container .card .card__description {
  color: hsla(0deg, 0%, 100%, 0.75);
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
}
.container .card .btn:hover {
  background-color: transparent;
  outline: 2px solid hsla(0deg, 0%, 100%, 0.75);
  color: hsla(0deg, 0%, 100%, 0.75);
}

@media (min-width: 600px) {
  .container {
    grid-template-areas: "sedans suvs" "luxury luxury";
  }
  .container .card:nth-child(1) {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
  .container .card:nth-child(2) {
    border-top-right-radius: 0.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    grid-template-areas: "sedans suvs luxury";
    max-width: 950px;
  }
  .container .card:nth-child(1) {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .container .card:nth-child(2) {
    border-top-right-radius: 0rem;
  }
  .container .card:nth-child(3) {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
  }
}/*# sourceMappingURL=main.css.map */