@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

img {
  width: 100%;
  display: block;
}

.alignment {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(233deg, 47%, 7%);
  padding: 1.5rem;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 0.5rem;
  max-width: 320px;
}
.card .card__img {
  position: relative;
}
.card .card__img__img--M {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card .card__img__img--D {
  display: none;
}
.card .card__img--overlay {
  width: 100%;
  height: 100%;
  background-color: hsla(277deg, 91%, 26%, 0.5);
  position: absolute;
  top: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card .card__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  gap: 1.5rem;
  padding: 2em;
}
.card .card__header__txt {
  font-family: "Inter", sans-serif;
  font-size: 25px;
}
.card .card__header__txt span {
  color: hsl(277deg, 64%, 61%);
}
.card .card__p {
  margin-bottom: 1.5rem;
}
.card .card__p__txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6em;
  color: hsla(0deg, 0%, 100%, 0.75);
}
.card .card__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}
.card .card__stats--col {
  gap: 0.4rem;
}
.card .card__stats__title {
  font-weight: 700;
  font-size: 25px;
  font-family: "Inter", sans-serif;
}
.card .card__stats__desc {
  font-weight: 400;
  font-size: 15px;
  font-family: "Lexend deca", sans-serif;
  color: hsla(0deg, 0%, 100%, 0.6);
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 600px;
    width: 80%;
  }
  .card .card__txt {
    padding: 3rem;
  }
  .card .card__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1000px;
    width: 80%;
    gap: 0;
  }
  .card .card__img {
    min-height: 100%;
    width: 50%;
  }
  .card .card__img__img--D {
    display: block;
    width: 100%;
    max-height: 450px;
    min-height: 400px;
  }
  .card .card__img__img--M {
    display: none;
  }
  .card .card__img__img--D,
.card .card__img--overlay {
    border-top-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .card .card__txt {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    text-align: left;
    width: 50%;
    padding: clamp(2rem, 4vw, 4rem);
  }
  .card .card__p {
    margin-bottom: clamp(1rem, 2vw, 3rem);
  }
  .card .card__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    text-align: left;
    gap: 1.5rem;
  }
  .card .card__stats--col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .card .card__header__txt {
    font-size: 2rem;
  }
  .card .card__stats__desc {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */