@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;400;500;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "../resources/resets";

$red-5: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

$white-0: #ffffff;
$blue-1: hsl(206, 64%, 97%);
$blue-2: #e5effa;
$blue-3: #dde7ee;
$blue-4: #939dae;
$blue-5: #5e6778;
$blue-6: #1c202b;
$size-para: 16px;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue-2;
  color: $blue-5;
  font-size: $size-para;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.component {
  background-color: $white-0;
  border-radius: var(--size-3);
  padding: clamp(var(--size-2), 2vw, var(--size-6));
  width: min(100%, 660px);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-5);

    .logo {
      font-size: var(--font-size-fluid-1);
      font-weight: var(--font-weight-9);
      color: $blue-6;
      display: flex;
      align-items: center;

      span {
        font-weight: var(--font-weight-5);
        font-size: var(--font-size-fluid-0);
        background-color: $blue;
        padding: 0.1rem calc(var(--size-3) - 0.3rem);
        margin-left: 0.5rem;
        color: $white-0;
        border-radius: calc(var(--size-2) - 0.2rem);
        text-align: center;
      }
    }

    .mark-as-read {
      font-size: var(--font-size-fluid-0);
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  .notification {
    display: flex;
    border-radius: var(--size-2);
    padding: var(--size-3);

    & + .notification {
      margin-top: var(--size-2);
    }

    &.unread {
      background-color: $blue-1;

      & :is(.dot) {
        background-color: $red-5;
      }
    }

    &.read {
      background-color: $white-0;

      & :is(.dot) {
        background-color: $white-0;
      }
    }

    &.read.show :is(.notification__text .comment) {
      display: block;
    }

    img {
      width: 35px;
      height: 35px;
      margin-right: var(--size-4);
      cursor: pointer;
    }

    .notification__text {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        font-size: clamp(0.98rem, 2vw, 1rem);
      }

      & > p {
        margin-bottom: calc(var(--size-1) - 0.2rem);

        .dot {
          display: inline-block;
          border-radius: var(--size-9);
          width: 7px;
          height: 7px;
          margin-bottom: 0.1rem;
          margin-left: var(--size-2);
        }

        strong {
          font-weight: var(--font-weight-8);
          cursor: pointer;

          &:hover {
            color: $blue;
          }

          &.action {
            margin-left: var(--size-1);
          }
          &.club {
            color: $blue;
          }
        }

        .username {
          color: $blue-6;
          margin-right: var(--size-1);
        }
      }

      .time-frame {
        font-weight: var(--font-weight-4);
        color: $blue-4;
        font-size: clamp(0.9rem, 2vw, 1rem);
      }

      .comment {
        display: none;
        box-shadow: var(--gray-4) 0px 1px 2px;
        padding: calc(var(--size-2) + 0.3rem);
        margin-top: var(--size-2);
        border-radius: var(--size-1);
        cursor: pointer;

        &:hover {
          background-color: $blue-2;
        }
      }
    }

    .chess-img {
      display: flex;
      justify-self: flex-end;
      margin-left: var(--size-5);
      cursor: pointer;
    }
  }
}
