@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;400;500;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "../resources/resets";

body {
  background-color: var(--blue-1);
  font-family: "Karla", sans-serif;
  font-weight: var(--font-weight-400);
  color: var(--gray-0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.component {
  width: min(80%, 900px);
  display: grid;

  .join {
    background: white;
  }

  .subscription {
    background: var(--cyan-7);

    .subscription__btn {
      background: var(--lime-5);
    }
  }

  .why {
    background: var(--cyan-6);
  }
}
