@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;400;500;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

* {
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--blue-1);
  font-family: "Karla", sans-serif;
  font-weight: var(--font-weight-400);
  color: var(--gray-0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 3rem;
}

.component {
  width: min(90%, 700px);
  display: grid;
  overflow: hidden;
  grid-template-areas: "join" "subsc" "why";
}
.component .section {
  padding-inline: var(--size-fluid-4);
  padding-block: calc(var(--size-fluid-4) - 0.5rem);
}
.component .head {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-7);
  -webkit-margin-after: var(--size-3);
          margin-block-end: var(--size-3);
}
.component .row {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}
.component.rounded,
.component .rounded {
  border-radius: var(--size-2);
}
.component .join {
  background: white;
  display: flex;
  flex-direction: column;
  grid-area: join;
}
.component .join .join__heading {
  color: var(--grape-6);
}
.component .join .join-sub__heading {
  color: var(--yellow-7);
  font-weight: var(--font-weight-7);
  max-width: 100%;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
.component .join .join__para {
  color: var(--gray-6);
  line-height: var(--font-lineheight-3);
}
.component .subscription {
  background: var(--grape-7);
  grid-area: subsc;
}
.component .subscription .subscription__heading {
  color: white;
}
.component .subscription .subscription__price .price {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
}
.component .subscription .subscription__price .time-frame {
  opacity: 0.6;
}
.component .subscription .subscription__para {
  -webkit-margin-after: var(--size-6);
          margin-block-end: var(--size-6);
}
.component .subscription .subscription__btn {
  background: var(--blue-3);
  width: 100%;
  padding: var(--font-size-0);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 2px;
  font-weight: var(--font-weight-7);
}
.component .subscription .subscription__btn:hover {
  background: var(--blue-5);
}
.component .why {
  background: var(--grape-5);
  grid-area: why;
}
.component .why .why__heading {
  color: white;
}
.component .why .list {
  line-height: 1.4;
}

@media (min-width: 765px) {
  .component {
    grid-template-areas: "join join" "subsc why";
  }
  .component .join .join-sub__heading {
    -webkit-margin-after: 0.3rem;
            margin-block-end: 0.3rem;
  }
}/*# sourceMappingURL=main.css.map */