/* Primary*/
$clr_blue: rgb(88, 71, 235);
$clr_light-red--work: hsl(15, 100%, 70%);
$clr_soft-blue--play: hsl(195, 73%, 62%);
$clr_light-red--study: hsl(348, 100%, 68%);
$clr_lime-green--exercise: hsl(145, 58%, 55%);
$clr_violet--social: hsl(264, 64%, 52%);
$clr_soft-orange--self-care: hsl(43, 84%, 65%);
//

/*Neutral*/
$clr_very-dark-blue: hsl(226, 43%, 10%);
$clr_dark-blue: rgb(28, 31, 74);
$clr_desaturated-blue: hsl(235, 45%, 61%);
$clr_pale-blue: hsl(236, 100%, 87%);
$card-hover: hsl(236, 41%, 34%);
//

/*Font family*/
$ff-primary: "Rubik", sans-serif;
/*Font size*/
$fs_card-titles: 1.8rem;
//

/*Font weight*/
$fw1: 300;
$fw2: 400;
$fw3: 500;
//

/*Border and spacing*/
$pad-card: 3em 2em;
$pad-s-profile: 1em 1.3em;
$pad-nav: 2.2em 3em;
$radius: 2rem;
//
